{% extends "layout.html" %}
{% block script %}
    <script type="application/javascript">
        var GRAPH_URL = "http://graphite.openstack.org/render/?from=-7days&width=940&height=80&margin=0&hideLegend=true&hideAxes=true&hideGrid=true&target=color(stats.gauges.zuul.pipeline.gate.current_changes,%20%27999999%27)&bgcolor=000000";

        // add a startswith function to all strings
        // http://stackoverflow.com/questions/646628
        if (typeof String.prototype.startswith != 'function') {
            String.prototype.startswith = function (str){
                return this.indexOf(str) == 0;
            };
        }

        function loadData() {
            $.getJSON("{{ url_for('data') }}",
                function(data) {
                    $('#open_reviews').html(data.open_reviews);

                    var gate_duration = data.gate_duration;
                    if (gate_duration[0] == 0) {
                        $('#gate_duration').html('<span class="text-success">empty</span>');
                    } else if(gate_duration[1].startswith("sec") || gate_duration[1].startswith("min") || gate_duration[1].startswith("hr") && gate_duration[0] <= 6) {
                        $('#gate_duration').html('<span class="text-success">' + gate_duration[0] + ' <small>' + gate_duration[1] + '</small></span>');
                    } else if (gate_duration[1].startswith("hr")) {
                        $('#gate_duration').html('<span class="text-warning">' + gate_duration[0] + ' <small>' + gate_duration[1] + '</small></span>');
                    } else {
                        $('#gate_duration').html('<span class="text-error">' + gate_duration[0] + ' <small>' + gate_duration[1] + '</small></span>');
                    }

                    var merge_probability = data.merge_probability;
                    if (merge_probability >= 80) {
                        $('#merge_probability').html('<span class="text-success">' + merge_probability + '%</span>');
                    } else if (merge_probability >= 40) {
                        $('#merge_probability').html('<span class="text-warning">' + merge_probability + '%</span>');
                    } else {
                        $('#merge_probability').html('<span class="text-error">' + merge_probability + '%</span>');
                    }

                    if (data.failed_merges) {
                        $('#failed_merges').html('<span class="text-warning">' + data.failed_merges + '</span>');
                    } else {
                        $('#failed_merges').html('<span class="muted">0</span>');
                    }

                    var next_milestone = data.next_milestone;
                    if (next_milestone[0] <= 0) {
                        $('#next_milestone').html('anytime');
                    } else {
                        $('#next_milestone').html(next_milestone[0] + ' <small>' + next_milestone[1] + '</small>');
                    }

                    var s = '';
                    for (var i = 0; i < data.changes.length; i++) {
                        var change = data.changes[i];

                        var cls = '';
                        if(!change['gate']) {
                            cls = 'muted'
                        }
                        if(change['merged']) {
                            cls = 'text-success'
                        }

                        s = s + '<tr>';
                        if(change['merged']) {
                            s = s + '<td><h3 class="text-right"><small>merged</small></h3></td>'
                        } else if (change['eta'][0] != 0) {
                            s = s + '<td><h3 class="text-right">' + change['eta'][0] + ' <small>' + change['eta'][1] + '</small></h3></td>';
                        } else {
                            s = s + '<td><h3 class="text-right">now</h3></td>';
                        }
                        s = s + '<td><h3><a href="' + change['url'] + '" class="' + cls + '">' + change['number'] + ': ' + change['subject'] + '</a></h3></td>';
                        s = s + '</tr>';
                    }
                    $('#changes').html(s);

                    $('#graph').attr('src', GRAPH_URL + '&' + new Date().getTime());
                }
            );
            setTimeout("loadData()", 30 * 1000);
        }
        $(document).ready(loadData);
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span12">
            <img id="graph" style="width: 940px; height: 80px;" />
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h4>Gate Queue</h4>
            <h1 id="gate_duration"></h1>
        </div>
        <div class="span4">
            <h4>Merge Probability</h4>
            <h1 id="merge_probability"></h1>
        </div>
        <div class="span4">
            <h4>Failed Merges</h4>
            <h1 id="failed_merges"></h1>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h4>Open Reviews</h4>
            <h1 id="open_reviews"></h1>
        </div>
        <div class="span4">
            <h4>Stable Reviews</h4>
            <h1 id="stable_reviews" class="muted">0</h1>
        </div>
        <div class="span4">
            <h4>Next Milestone</h4>
            <h1 id="next_milestone"></h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-condensed" id="changes"></table>
        </div>
    </div>
{% endblock %}
