{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="span4">
            <h4>Open Reviews</h4>
            <h1>{{ open_reviews }}</h1>
        </div>
        <div class="span4">
            <h4>Gate Queue</h4>
            <h1>
                {% if gate_duration[0] == 0 %}
                    <span class="text-success">Empty</span>
                {% elif gate_duration[1].startswith("second") or gate_duration[1].startswith("minute") or gate_duration[1].startswith("hour") and gate_duration[0] <= 6 %}
                    <span class="text-success">{{ gate_duration[0] }} <small>{{ gate_duration[1] }}</small></span>
                {% elif gate_duration[1].startswith("hour") %}
                    <span class="text-warning">{{ gate_duration[0] }} <small>{{ gate_duration[1] }}</small></span>
                {% else %}
                    <span class="text-error">{{ gate_duration[0] }} <small>{{ gate_duration[1] }}</small></span>
                {% endif %}
            </h1>
        </div>
        <div class="span4">
            <h4>Failed Merges</h4>
            <h1>
                {% if failed_merges %}
                    <span class="text-warning">{{ failed_merges }}</span>
                {% else %}
                    <span class="muted">0</span>
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="span4"></div>
        <div class="span4">
            <h4>Next Milestone</h4>
            <h1>{{ next_milestone[0] }} <small>{{ next_milestone[1] }}</small></h1>
        </div>
        <div class="span4"></div>
    </div>
    <div class="row">
        <div class="span12">
            <dl class="dl-horizontal">
                {% for change in changes %}
                    <dt><h2>{{ change['eta'][0] }} <small>{{ change['eta'][1] }}</small></h2><dt>
                    <dd><h3><a href="{{ change['url'] }}">{{ change['subject'] }}</a></h3><dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endblock %}
