body {
    color: #ddd;
    background: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 58px;
    line-height: 60px;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
}
a, a:hover {
    color: #ddd;
}
div.row {
    padding-top: 20px;
}
.table-condensed td {
    border-top: 1px solid #555;
}
.table-condensed h3 {
    margin: 0;
}
